=console
%p#notice= notice
%h1 My Meetings


- if Meeting.all.empty? && current_user == nil
  = "There are no meetings. Please"
  = link_to 'sign in', new_user_session_path
  = "to create a meeting."

- else
  %table
    %thead
      %tr
        %th Meeting Name
        %th Welcome Message
        %th Is the meeting being recorded?
        %th ID
        %th{:colspan => "3"}
    %tbody
      - @meetings.each do |meeting|
        %tr
          %td= meeting.name
          %td= meeting.welcome_message
          %td= meeting.meeting_record
          %td= meeting.external_meeting_id

          %td= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' }
  %br/

  = link_to 'New Meeting', new_meeting_path

%br
%br

%h1#recording All Recordings
%table
  %thead
    %tr
      %th Recording
      %th Meeting
      %th State
      %th Publish
      %th{:colspan => "3"}
  %tbody
    - @recordings.each do |recording|
      %tr
        %td= recording.recording_id
        %td= recording.meeting_id
        %td= recording.meeting_state

        -# this needs to be replaced by ruby/js insertAdjacentHTML
        -# %td#publish_state
        %td.publish_state= recording.publish

        %td= link_to 'Publish/Unpublish', publish_path(:recording_id => recording.recording_id, :publish => recording.publish)

        %td= link_to 'Destroy', destroy_recording_path(:recording_id => recording.recording_id)

%br/
